<div class="login-box">
    <h1 class="heading">REGISTER</h1>
    <div class="text-box">
        <i class="fas fa-user-edit"></i>
      <input type="text" placeholder="First Name">
    </div>
  
    <div class="text-box">
        <i class="fas fa-user-edit"></i>
      <input type="text" placeholder="Last Name">
    </div>

    <div class="text-box">
        <i class="fas fa-at"></i>
      <input type="text" placeholder="Email">
    </div>

    <div class="text-box">
        <i class="fas fa-mobile-alt"></i>
      <input type="text" placeholder="Mobile Number">
    </div>

    <div class="text-box">
        <i class="fas fa-unlock-alt"></i>
      <input type="password" placeholder="Password">
    </div>

  
    <input type="submit" class="button shadow" value="Submit">
  </div>
