.login-box{
    width: 100%;
    padding: 8vmin;
}

.heading{
    font-family: 'Bahiana', cursive;
    color: #ffffff;
    text-align: center;
    margin-bottom: 4vmin;
    margin-top: 4vmin;
}

.card{
    padding: 12vmin 4vmin;
    margin-right: 1em;
    margin-top: 1em;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vmin;
}

.text-box{
    display: flex;
    flex-direction: row;
    border: 1px solid #039be5;
    border-radius: 50px;
    background: #f5f5f5;
    padding: 1vmin;
    margin: 2vmin;
}

.text-box i{
    text-align: center;
    padding-left: 2vmin;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    color: #474747;
}
.text-box input{
    border: none;
    outline: none;
    text-align: center;
    background: #f5f5f5;
    padding-right: 2vmin;
}

.button{
    width: 40%;
    background: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vmin;
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 5px;
    color: #ffffff;
    outline: none;
}

.invalid {
    border: 1px solid #e50303;
}

.invalid ::placeholder{
    color: #e50303;
}

.invalid i{
    color: #e50303;
}

.invalidError{
    font-size: 8pt;
    color: #e50303;
    text-align: center;
    margin-top: 0;
}

.disabled{
    border: 2px solid rgb(167, 167, 167);
    color: rgb(167, 167, 167);
}

.mobile{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.select{
    outline: none;
    background: #f5f5f5;
    border: none;
    width: 4em;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid rgb(255, 255, 255);
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked + label:before {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: #fff;
  }
  
  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }

  .admin{
      display: flex;
      flex-direction: row;
      color: white;
      justify-content: center;
      align-content: center;
  }

  .admin p{
      margin-top: 1.5vmin;
  }