<div class="login-box">
    <h2 class="heading">Change Password</h2>
    <form [formGroup]="changePasswordForm" (submit)="changePassword()">
        <div class="text-box" [ngClass]="{'invalid':
        (changePasswordForm.get('password').touched || changePasswordForm.get('password').dirty) && changePasswordForm.get('password').invalid}">
          <i class="fas fa-unlock-alt"></i>
          <input formControlName = "password" type="password" placeholder="Password">
        </div>
        <div class="password-error" *ngIf="(changePasswordForm.get('password').touched || changePasswordForm.get('password').dirty) 
        && changePasswordForm.get('password').invalid"
        class="invalidError">Please enter a valid password(must contain one uppercase(A-Z), one lowercase(a-z) and one digit(0-9) and must be of length 6</div>
    
  
      <div class="text-box" [ngClass]="{'invalid':
          (changePasswordForm.get('rePassword').touched || changePasswordForm.get('rePassword').dirty) && changePasswordForm.get('rePassword').invalid}">
        <i class="fas fa-unlock-alt"></i>
        <input formControlName="rePassword" type="password" placeholder="Re Enter Password">
      </div>
      <div *ngIf="(changePasswordForm.get('password').touched || changePasswordForm.get('rePassword').dirty) && changePasswordForm.get('rePassword').invalid" class="invalidError">Please
        enter password</div>
  
      <input [ngClass]="{'disabled':changePasswordForm.invalid}" [disabled]="changePasswordForm.invalid" type="submit" class="button shadow" value="Submit">

    </form>
  </div>