<div class="main-container">
  <nav class="navbar navbar-default shadow navbar-fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
      <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      Meeting Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="user==='user'" class="nav-item active">
          <a class="nav-link" [routerLink]="['user',userId]">Home</a>
        </li>
        <li *ngIf="user==='admin'" class="nav-item active">
          <a class="nav-link" [routerLink]="['/admin',userId]">Home</a>
        </li>

        <li *ngIf="isLogged==='true'" (click)="logout()" class="nav-item active">
          <a class="nav-link">Logout</a>
        </li>
        <li *ngIf = "isLogged!=='true'" class="nav-item active">
          <a class="nav-link" [routerLink]="['home/login']">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
