<div class="forgot-password-box">
  <h2 class="heading">Change Password</h2>
  <form [formGroup]="emailForm" (submit)="sendMail()">
    <div class="text-box" [ngClass]="{'invalid':
        (emailForm.get('email').touched || emailForm.get('email').dirty) && emailForm.get('email').invalid}">
      <i class="fas fa-at"></i>
      <input formControlName="email" type="text" placeholder="Enter email">
    </div>

    <input [ngClass]="{'disabled':emailForm.invalid}" [disabled]="emailForm.invalid" type="submit" class="button shadow" value="Submit">

    <div class="login-footer">
      <a [routerLink]="['/home/login']" class="forgot-password">Go Back and Login</a>
    </div>
  </form>
</div>