<div class="login-box">
    <img class="image" src="../../../assets/images/login.png" alt="">
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="text-box">
            <i class="fas fa-at"></i>
          <input formControlName="email" type="text" placeholder="Enter email">
        </div>
      
        <div class="text-box">
            <i class="fas fa-unlock-alt"></i>
          <input formControlName="password" type="password" placeholder="Enter Password">
        </div>
      
        <input type="submit" class="button shadow" value="Login">
    
        <div class="login-footer">
          <a href="" class="forgot-password">Forgot Password?</a>
          <a href="" class="signup">Don't have an account? Register!</a>
        </div>
    </form>
  </div>