<div class="container-fluid shadow-lg">
  <div class="header-month">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>

  <div [ngSwitch]="view" class="col-md-1 month-button">
    <div *ngSwitchCase="'day'" class="month-button">
      <button class="btn btn-light" (click)="view = 'month'">Back</button>
    </div>
  </div>

  <div class="col-md-4 button-group">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="decrement()" [disabled]="prevBtnDisabled">
        Previous
      </button>
      <button class="btn btn-outline-secondary" (click)="today()">
        Today
      </button>
      <button class="btn btn-primary" (click)="increment()" [disabled]="nextBtnDisabled">
        Next
      </button>
    </div>
  </div>


  <ng-template #loading>
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i> <br />
      Loading events...
    </div>
  </ng-template>

  <div *ngIf="events$ | async; else loading; let events">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" (viewDateChange)="fetchEvents()"
        (viewChange)="fetchEvents()" [events]="events" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="viewDate = $event.day.date; view = 'day'"
        (eventClicked)="eventClicked($event.event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event.event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event.event)">
      </mwl-calendar-day-view>
    </div>
  </div>

  <div *ngIf="isAdmin==='true'" [routerLink]="['/create-meeting',userId]" class="btn btn-dark col-md-4 admin-view">
    Create Meetings
    <i class="far fa-calendar-plus"></i>
  </div>
</div>