.header-month {
  text-align: center;
  padding: 2vmin;
}

.button-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2vmin;
}

.container-fluid {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 2vmin;
}


.cal-disabled {
  background-color: rgb(255, 255, 255);
  pointer-events: none;
}

.cal-disabled .cal-day-number {
  opacity: 0.1;
}

.month-button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin-bottom: 2vmin;
}

.view {
  padding-bottom: 4vmin;
}

.admin-view{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vmin;
  margin-bottom: 2vmin;
}